<div class="header-container">
    <div class="brand-logo">
        <img src="../../assets/images/logo.png" alt="brand-logo">
    </div>

    <nav class="nav-content">
        <ul class="link-container">
            <li class="link-item">
                <a routerLink="">TODO</a>
            </li>
            <li class="link-item">
                <a href="/form">Reactive Form</a>
            </li>
            <li class="link-item">
                <a routerLink="">Template Driven Form</a>
            </li>
            <li class="link-item">
                <a routerLink="">Lazy Loading</a>
            </li>
            <li class="link-item">
                <a routerLink="">Custom Directives</a>
            </li>
            <li class="link-item">
                <a routerLink="">Dynamic Component</a>
            </li>
            <li class="link-item">
                <a routerLink="">Content Projecction</a>
            </li>
        </ul>
    </nav>
</div>