//button styles
$brand-primary: darken(#428bca, 6.5%) !default;
$brand-success: #5cb85c !default;
$brand-info: #5bc0de !default;
$brand-warning: #f0ad4e !default;
$brand-danger: #d9534f !default;

//font styles
$font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif: Georgia, "Times New Roman", Times, serif !default;
$font-size-default: 18px;
$font-color-default: #111 !default;
$font-color-white: #ffffff !default;

//body styles
$body-background-color: #fff !default;

//header styles
$header-background-color: #072129 !default;
$header-font-color: #fff !default;
$header-height: 15vh;
$header-width: 100vw;

//footer styles
$footer-background-color: #14314d !default;
$footer-height: 10vh;
$footer-width: 100vw;

//common background colors
$background-white: #fff !default;
$background-blue-shade: #5aaed2 !default;